.display-container > Toggle {
    margin-top: 5px;
    margin-right: 5px;
}

.display-container > Toggle > Label {
    margin-right: 10px;
    min-width: 0;
    margin-left: 10px;
    font-size: 16px;
    color: rgb(255, 255, 255);
}

.display-container {
    width: 150px;
    align-items: flex-end;
    flex-direction: column;
    margin-top: 25px;
    background-color: rgb(47, 54, 64);
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
