.stream-window {
    flex-grow: 1;
    background-color: rgb(53, 59, 72);
}

.header {
    background-color: rgb(47, 54, 64);
    flex-shrink: 0;
}

.header > Label {
    -unity-text-align: upper-center;
    font-size: 20px;
    -unity-font-style: normal;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
